In [ ]:
import pandas as pd

In [ ]:

# Netflix Titles data
netflix_titles = pd.read_csv('/netflix_titles.csv')
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
f = netflix_titles.set_index('show_id')

In [ ]:
n = f[[ 'type', 'title','director']]

In [ ]:
 n.to_csv('netflix_titles.csv')

In [ ]:
data = pd.read_csv('netflix_titles.csv')
data.head()

  show_id     type                  title         director
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

In [ ]:

# Netflix Shows data
i = pd.read_csv('netflix_titles.csv')

In [ ]:
netflix_shows = pd.read_csv('/Netflix Shows.csv', encoding='ISO-8859-1')
netflix_shows.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [ ]:

m = netflix_shows.set_index('title')

In [ ]:
g = m['rating']
g

In [ ]:
g.to_csv('netflix_shows.csv')

In [ ]:
x = pd.read_csv('netflix_shows.csv')
x.head()

                   title rating
0           White Chicks  PG-13
1    Lucky Number Slevin      R
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
4  How I Met Your Mother  TV-PG

In [ ]:
# Netflix Daily Top 10
a = pd.read_csv('/netflix daily top 10.csv')
a.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [ ]:
c = a.set_index('Rank')

In [ ]:
s = c[['Title', 'Type', 'Netflix Release Date']]

In [ ]:
s.to_csv('netflix_top10')

In [ ]:
l = pd.read_csv('netflix_top10')
l.head()

   Rank                         Title     Type Netflix Release Date
0     1  Tiger King: Murder, Mayhem …  TV Show         Mar 20, 2020
1     2                         Ozark  TV Show         Jul 21, 2017
2     3                  All American  TV Show         Mar 28, 2019
3     4                  Blood Father    Movie         Mar 26, 2020
4     5                  The Platform    Movie         Mar 20, 2020

In [ ]:
# INNER JOIN
w = data.merge(x, on='title')
w.head()

  show_id     type                          title         director rating
0      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
1      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
2      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
3      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
4     s38  TV Show                    Angry Birds              NaN   TV-G

In [ ]:
# LEFT JOIN
data.merge(x, on='title', how='left')

  show_id     type                  title         director rating
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson    NaN
1      s2  TV Show          Blood & Water              NaN    NaN
2      s3  TV Show              Ganglands  Julien Leclercq    NaN
3      s4  TV Show  Jailbirds New Orleans              NaN    NaN
4      s5  TV Show           Kota Factory              NaN    NaN

In [ ]:
# RIGHT JOINS
l.merge(x, how='right', left_on='Title', right_on='title')

,Rank,Title,Type,Netflix Release Date,title,rating
0,NaN,NaN,NaN,NaN,White Chicks,PG-13
1,NaN,NaN,NaN,NaN,Lucky Number Slevin,R
2,NaN,NaN,NaN,NaN,Grey's Anatomy,TV-14
3,NaN,NaN,NaN,NaN,Prison Break,TV-14
4,NaN,NaN,NaN,NaN,How I Met Your Mother,TV-PG
...,...,...,...,...,...,...
1592,10.0,The BFG,Movie,"Mar 15, 2021",The BFG,PG
1593,NaN,NaN,NaN,NaN,The Secret Life of Pets,PG
1594,NaN,NaN,NaN,NaN,Precious Puppies,TV-G
1595,NaN,NaN,NaN,NaN,Beary Tales,TV-G
1596,NaN,NaN,NaN,NaN,Growing Up Wild,G

In [ ]:
# OUTER JOINS
data.merge(x, on='title', how='outer').head()

  show_id     type                  title         director rating
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson    NaN
1      s2  TV Show          Blood & Water              NaN    NaN
2      s3  TV Show              Ganglands  Julien Leclercq    NaN
3      s4  TV Show  Jailbirds New Orleans              NaN    NaN
4      s5  TV Show           Kota Factory              NaN    NaN

In [ ]:
# SELF JOIN
l.merge(l, left_on='Title', right_on='Title', suffixes=('_Top', '_Top10')).tail(10)

,Rank_Top,Title,Type_Top,Netflix Release Date_Top,Rank_Top10,Type_Top10,Netflix Release Date_Top10
331928,10,Shrek,Movie,"May 1, 2018",10,Movie,"May 1, 2018"
331929,10,Shooter,Movie,"Aug 1, 2014",10,Movie,"Aug 1, 2014"
331930,10,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"
331931,10,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"
331932,8,Shooter,Movie,"Aug 1, 2014",10,Movie,"Aug 1, 2014"
331933,8,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"
331934,8,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"
331935,8,Shooter,Movie,"Aug 1, 2014",10,Movie,"Aug 1, 2014"
331936,8,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"
331937,8,Shooter,Movie,"Aug 1, 2014",8,Movie,"Aug 1, 2014"

In [ ]:
x.set_index('title')

In [ ]:
data.set_index('title')

In [ ]:
x.merge(data, on='title', how='right').head()

                   title rating show_id     type         director
0   Dick Johnson Is Dead    NaN      s1    Movie  Kirsten Johnson
1          Blood & Water    NaN      s2  TV Show              NaN
2              Ganglands    NaN      s3  TV Show  Julien Leclercq
3  Jailbirds New Orleans    NaN      s4  TV Show              NaN
4           Kota Factory    NaN      s5  TV Show              NaN

In [ ]:
# SEMI JOIN
""" STEP 1 - Inner Join """
p = data.merge(x, on='title')
p.head()

  show_id     type                          title         director rating
0      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
1      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
2      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
3      s9  TV Show  The Great British Baking Show  Andy Devonshire  TV-PG
4     s38  TV Show                    Angry Birds              NaN   TV-G

In [ ]:

""" STEP 2 - Compare the 2 columns """
q = data[data['title'].isin(p['title'])]
q.head()

    show_id     type                          title         director
8        s9  TV Show  The Great British Baking Show  Andy Devonshire
37      s38  TV Show                    Angry Birds              NaN
104    s105  TV Show            Tayo the Little Bus              NaN
106    s107  TV Show                         Bunk'd              NaN
263    s264  TV Show              Mother Goose Club              NaN

In [ ]:
# ANTI JOIN
""" STEP 1 - Return columns on the left table which is not in the right table Using left join """
s = data.merge(x, on='title', how='left', indicator=True)
s.head()

  show_id     type                  title         director rating     _merge
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson    NaN  left_only
1      s2  TV Show          Blood & Water              NaN    NaN  left_only
2      s3  TV Show              Ganglands  Julien Leclercq    NaN  left_only
3      s4  TV Show  Jailbirds New Orleans              NaN    NaN  left_only
4      s5  TV Show           Kota Factory              NaN    NaN  left_only

In [ ]:
""" STEP 2 - Subset the _merge column with left only rows """
b = s.loc[s['_merge'] == 'left_only', 'title']
b.head()

0     Dick Johnson Is Dead
1            Blood & Water
2                Ganglands
3    Jailbirds New Orleans
4             Kota Factory
Name: title, dtype: object

In [ ]:
# Concatenating DataFrames Vertically
pd.concat([l,x], ignore_index=True, sort=True).head()

,Netflix Release Date,Rank,Title,Type,rating,title
0,"Mar 20, 2020",1.0,"Tiger King: Murder, Mayhem …",TV Show,NaN,NaN
1,"Jul 21, 2017",2.0,Ozark,TV Show,NaN,NaN
2,"Mar 28, 2019",3.0,All American,TV Show,NaN,NaN
3,"Mar 26, 2020",4.0,Blood Father,Movie,NaN,NaN
4,"Mar 20, 2020",5.0,The Platform,Movie,NaN,NaN

In [ ]:

# Concatenating DataFrames with common columns
pd.concat([x,data], join='inner').head()

                   title
0           White Chicks
1    Lucky Number Slevin
2         Grey's Anatomy
3           Prison Break
4  How I Met Your Mother

In [ ]:

# Concatenating DataFrames Using append() method
l.append([data,x], ignore_index=True, sort=True).head()

,Netflix Release Date,Rank,Title,Type,director,rating,show_id,title,type
0,"Mar 20, 2020",1.0,"Tiger King: Murder, Mayhem …",TV Show,NaN,NaN,NaN,NaN,NaN
1,"Jul 21, 2017",2.0,Ozark,TV Show,NaN,NaN,NaN,NaN,NaN
2,"Mar 28, 2019",3.0,All American,TV Show,NaN,NaN,NaN,NaN,NaN
3,"Mar 26, 2020",4.0,Blood Father,Movie,NaN,NaN,NaN,NaN,NaN
4,"Mar 20, 2020",5.0,The Platform,Movie,NaN,NaN,NaN,NaN,NaN

In [ ]:

# Validating the Integrity of your DataFrames
data.merge(x, on='title', how='outer', validate='one_to_many').head()

  show_id     type                  title         director rating
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson    NaN
1      s2  TV Show          Blood & Water              NaN    NaN
2      s3  TV Show              Ganglands  Julien Leclercq    NaN
3      s4  TV Show  Jailbirds New Orleans              NaN    NaN
4      s5  TV Show           Kota Factory              NaN    NaN

In [ ]:
# Verifying Concatenation
pd.concat([data,x], ignore_index=True, sort=True, verify_integrity=False).head()

          director rating show_id                  title     type
0  Kirsten Johnson    NaN      s1   Dick Johnson Is Dead    Movie
1              NaN    NaN      s2          Blood & Water  TV Show
2  Julien Leclercq    NaN      s3              Ganglands  TV Show
3              NaN    NaN      s4  Jailbirds New Orleans  TV Show
4              NaN    NaN      s5           Kota Factory  TV Show